/* IMPORT FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');

/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Roboto Slab', serif */
/* font-family: 'Shadows Into Light Two', cursive; */


/* STYLES */

:root {
  --hotpink: #FF0066;
  --darkpink: #660029;
  --teal: #317B87;
  --purple: #7A6F9B;
  --lavender: #D4CDF4;
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgray: #e0e0e0;
  --gray: #C0C0C0;
  --darkgray: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
  --black: #000;
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: var(--darkgray);
  background-color: var(--white);
}

body {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  margin: auto !important;
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
/* img {
  max-width: 37.5em; /* 600px /16 */
} */
/* from lazyimages plugin */
img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}
p,
.tmpl-post li {
  line-height: 1.45;
}
a[href] {
  color: var(--darkpink);
}
a[href]:visited {
  color: var(--darkpink);
}
a[href]:hover {
  color: var(--black);
  background-color: var(--hotpink);
}
a[href]:active {
  color: var(--white);
  background-color: var(--darkpink);
}
main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {
  border-bottom: 1px dashed var(--lightgray);
}
/* header:after {
  content: "";
  display: table;
  clear: both;
} */
h1 {
  font-family: 'Shadows Into Light Two', 'Roboto Slab', serif;
}
table {
  margin: 1em 0;
}
table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: .5em 0;
  background-color: #f6f6f6;
}
.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header Flexboxen */

.siteHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.siteInfo {
  display: flex;
  align-items: center;
  flex: none;
}

.siteLogo {
  max-width: 50px;
}

.siteTitle {
  padding-left: .5rem;
  display: flex;
  flex: column nowrap;
}

/* Header */
.home {
  padding: 0;
  /* float: left; */
  margin: 0;
  font-size: 2.25rem;
  text-transform: lowercase;
}
.home :link:not(:hover) {
  text-decoration: none;
}

.homeSubtitle {
  font-size: .75rem;
  padding: 0;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: left;
  margin-left: 1em;
  font-size: 1.125rem;
  font-family: 'Shadows Into Light Two', 'Roboto Slab', serif;
  text-transform: lowercase;
}
.nav-item {
  display: inline-block;
  margin-right: 1rem;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}
.nav-item-active {
  font-weight: 700;
  text-decoration: underline;
}

/* Posts list */
.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--darkgray);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}


/* Tags */
.post-tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--teal);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].post-tag,
a[href].post-tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Other style elements */

.caption {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
  font-weight: 100;
  color: #666;
}

blockquote {
  font-family: "Shadows Into Light Two", 'Roboto Slab', serif;
  font-size: 1.25rem;
  font-weight: 400;
  vertical-align: middle;
  padding: 0 0 0 0.75rem;
  border-left: 0.5rem solid var(--hotpink);
  color: var(--black);
}

/* LITERALLY ALL OF THE BUTTONS */

.btn {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
  color: #fff;
  background: #333;
  border: none;
  height: 2.75rem;
  padding: 0.5rem 1.25rem;
  margin: 0.5rem 1rem 0.5rem 0;
}

.btn:hover {
  color: #000;
  background: #ff0066;
}

.btn:active {
  color: #fff;
  background: #660029;
}

.btn:disabled {
  color: #666;
  background: #e5e5e5;
}

.btn.secondary {
  color: #000;
  background: transparent;
  outline: 2px solid #ff0066;
  outline-offset: -2px;
}

.btn.secondary:hover {
  background: #ff0066;
  outline: none;
}

.btn.secondary:active {
  color: #fff;
  background: #660029;
  outline: none;
}

.btn.secondary:disabled {
  color: #666;
  background: #e5e5e5;
  outline: none;
}

.btn.success {
  color: #000;
  background: #b9ffb7;
  outline: 2px solid #fff;
  outline-offset: -4px;
}

.btn.success::before {
  content: "\2713";
  margin-right: 0.25rem;
}

.btn.success:hover {
  color: #fff;
  background: #049c00;
}

.btn.success:active {
  color: #049c00;
  background: #fff;
  outline: 2px solid #049c00;
  outline-offset: -4px;
}

.btn.success:disabled {
  color: #666;
  background: #e5e5e5;
  outline: none;
}

.btn.warning {
  color: #000;
  background: #f19a3e;
  outline: 2px solid #fff;
  outline-offset: -4px;
}

.btn.warning::before {
  content: "\26A0";
  margin-right: 0.25rem;
}

.btn.warning:hover {
  color: #fff;
  background: #9b3c00;
}

.btn.warning:active {
  color: #9b3c00;
  background: #fff;
  outline: 2px solid #9b3c00;
  outline-offset: -4px;
}

.btn.cta {
  color: #fff;
  background: #ff0066;
  outline: 2px solid #fff;
  outline-offset: -4px;
}

.btn.cta::after {
  content: "\203A";
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.btn.cta:hover {
  color: #000;
  background: #ff0066;
  outline: none;
}

.btn.cta:active {
  color: #fff;
  background: #660029;
  outline: none;
}

.btn.cta:disabled {
  color: #666;
  background: #e5e5e5;
  outline: none;
}