<ol reversed class="booklist" style="counter-reset: start-from {{ (bookslistCounter or bookslist.length) + 1 }}">
{% for book in bookslist | reverse %}
  <li class="booklist-item{% if book.url == url %} booklist-item-active{% endif %}">
    <a href="{{ book.url | url }}" class="booklist-link">{% if book.data.title %}{{ book.data.title }}{% else %}<code>{{ book.url }}</code>{% endif %}</a>
    <time class="booklist-date" datetime="{{ book.date | htmlDateString }}">{{ book.date | readableDate }}</time>
    {% for tag in book.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="book-tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
  </li>
{% endfor %}
</ol>